.venv/
ffmpeg-7.1.1-essentials_build/
data/processed/
data/raw/
MS_train/processed_data/
MS_train/processed_data/landmarks_train.npy
MS_train/processed_data/labels_train.npy
MS_train/processed_data/backup/
MS_train/raw_data/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pywzc
*.jpg
*.png
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.json
*.npy
*.csv
*.txt
*.log
*.pkl
*.pickle
*.pickle.gz
*.pickle.bz2